header,
footer {
  background-image: url("./assets/images/headerBg.jpg");
  background-size: cover;
}

.pointer {
  cursor: pointer;
}

.circle-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 25px;
}

.point {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  padding: 10px;
  background-color: #ffffff;
  width: 200px;
  border: 4px double #1c80cb;
  font-family:  serif;
  color: #0b090c;
  font-weight: 900;
  font-size: 1.1rem;
  border-radius: 100%;
}

@font-face {
  font-family: header-font;
  src: url("./assets/fonts/EagleHorizonP.ttf");
}

.eagle {
  font-family: header-font;
}

/* Base styles for header h1 */
header > h1 {
  font-family: header-font;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 500;
  white-space: nowrap;
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
  header > h1 {
    font-size: 4rem;
    letter-spacing: 8px;
    white-space: nowrap;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header > h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    white-space: nowrap;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header > h1 {
    font-size: 6rem;
    letter-spacing: 12px;
    white-space: nowrap;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header > h1 {
    font-size: 8rem;
    letter-spacing: 15px;
    white-space: nowrap;
  }
}

header > p {
  font-weight: 800;
}

h2 {
  font-family: "Merriweather", serif;
}

.about {
  background-image: url("./assets/images/aboutBg.jpg");
}

.features {
  background-image: url("./assets/images/featureBg.jpg");
  background-blend-mode: lighten;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: justify;
}
